# Angular build output
/dist/
/out-tsc/

# Node modules
/node_modules/

# IDE files
/.idea/
/.vscode/

# Environment files
/src/environments/*.ts

# Compiled output
*.js
*.js.map

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Coverage reports
/coverage/

# Angular cache
/.angular/cache/

# Misc
.sass-cache/
connect.lock